html, body {
  margin: 0;
  padding: 0;
  text-align: center;

  /* disable elastic scrolling */
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
canvas, img {
  width: 100%;
  display: block;
}

img.rotate {
  transform: rotate(90deg);
  /*margin: 11% -16% 16%;*/
  /*width: 131%;*/
  height: auto;
}
